<div class="row">
  <div class="col-md-7 nav-height">
    <input (input)="addToFlags(($event.target))" id="search-filter" class="form-control mr-sm-2 icon-search-black" type="search" placeholder="Поиск по уведомлениям" aria-label="Search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </div>
  <div class="col-md-6">
  </div>
</div>
<div class="row border-top border-bottom py-4">
  <div class="col-md-3 text-dark">
    <div class="dropdown">
      <label class="notif-checkbox">
        <input
          (change)="addToFlags($event.target)"
          id="check-all"
          class="checkbox notif-checkbox" type="checkbox">
        <span class="checkbox-custom checkbox-custom-black notif-checkbox"></span>
      </label>
      <span class="dropdown-toggle column-title" href="#" role="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Тип сообщения
      </span>
      <div (click)="stopPropagation($event)" class="dropdown-menu" aria-labelledby="dropdown">
        <label for="request" class="dropdown-item">
          <input type="checkbox" class="checkbox" id="request" (change)="addToFlags($event.target)">
          <span class="checkbox-custom"></span>
          Заявка
        </label>
        <label for="approval" class="dropdown-item">
          <input type="checkbox" class="checkbox" id="approval" (change)="addToFlags($event.target)">
          <span class="checkbox-custom"></span>
          Согласование</label>
        <label for="revision" class="dropdown-item">
          <input type="checkbox" class="checkbox" id="revision" (change)="addToFlags($event.target)">
          <span class="checkbox-custom"></span>
          На доработку</label>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dropdown">
      <span (click)="addNameSort()" class="dropdown-toggle  column-title" href="#" role="button" id="nameSort" data-toggle="dropdown" aria-expanded="false">
        Наименование
      </span>
    </div>
  </div>
  <div class="col-md-2">
    <div class="dropdown">
      <span class="dropdown-toggle dropdown-toggle  column-title" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Дата
      </span>
      <div (click)="stopPropagation($event)" id="dateDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <label (click)="addDateSort($event.target)" for="newToOld" class="dropdown-item">
          <input class="radio" name="date" type="radio" id="newToOld">
          <span class="radio-custom"></span>
          От новых к старым
        </label>
        <label (click)="addDateSort($event.target)" for="oldToNew" class="dropdown-item">
          <input class="radio" name="date" type="radio" id="oldToNew">
          <span class="radio-custom"></span>
          От старых к новым
        </label>
        <label (click)="enableInput()" for="dateFilter" class="dropdown-item">
          <input class="radio" name="date" type="radio" id="dateFilter">
          <span class="radio-custom"></span>
          За период времени
          <input (input)="validateDate($event.target)"
                 id="startDate" type="text" class="tcal form-control" placeholder="Начало периода" disabled/>
          <div class="invalid-feedback">Дата в формате дд.мм.ггг</div>
          <br>
          <input (input)="validateDate($event.target)" id="endDate" type="text" class="tcal form-control" placeholder="Конец периода" disabled/>
          <div class="invalid-feedback" style="visibility: hidden">Дата в формате дд.мм.ггг</div>
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dropdown">
      <span class="dropdown-toggle  column-title" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Важность
      </span>
      <div (click)="stopPropagation($event)" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <label for="importance" class="dropdown-item">
          <input (change)="addToFlags($event.target)"  class="checkbox" name="importance" type="checkbox" id="importance">
          <span class="checkbox-custom"></span>
          Только важные
        </label>
      </div>
    </div>
  </div>
</div>
