
<div *ngIf="checkedNotifications.length > 0" class="btn-group notif-action-group">
  <button (click)="markAs($event.target.id)" class="notif-action" id="as-archive">Архивировать</button>
  <button (click)="markAs($event.target.id)" class="notif-action" id="as-read">Отметить как прочитанное</button>
  <button (click)="markAs($event.target.id)" class="notif-action" id="as-important">Отметить как важное</button>
</div>
<div *ngFor="let notification of notificationsView" class="row py-4 border-bottom notification">
  <div class="col-md-3">
    <input (change)="setChecked(notification, $event.target.checked)" type="checkbox" [checked]="notification.checked" class="notif-checkbox">
    <span id="notif-type">{{notification.typeRu}}</span>
  </div>
  <div class="col-md-3">
    <span id="notif-name">{{notification.name}}</span>
  </div>
  <div class="col-md-2">
    <span id="notif-date">{{notification.dateString}}</span>
  </div>
  <div class="col-md-3">
    <span id="notif-important" *ngIf="notification.important" class="badge badge-danger">Важное</span>
  </div>
  <div class="col-md-12" [ngClass]="{notifread: !notification.read}">
    <span id="notif-text">{{notification.text}}</span>
  </div>
</div>
<button *ngIf="start < notificationsFiltered.length" class="show-more" (click)="appendNotifs(10)">Показать еще</button>
<span *ngIf="emptyResult" class="alert alert-dark">Отсутствуют уведомления, удовлетворяющие условиям поиска</span>

