<div *ngFor="let notification of notificationsFiltered | slice:0:viewLimit"
     (click)="setPopupData($event, notification)"
     class="row py-3 border-bottom notification"
     data-toggle="modal" data-target=".bd-example-modal-lg">{{count}}
  <div class="col-md-3">
    <label class="notif-checkbox">
      <input
        (change)="setCheckedStatus(notification, $event.target.checked)"
        [checked]="notification.checked"
        class="checkbox notif-checkbox" type="checkbox" name="checkbox-test">
      <span class="checkbox-custom notif-checkbox"></span>
    </label>
    <span class="small-text">{{notification.typeRu}}</span>
  </div>
  <div class="col-md-3">
    <span class="small-text">{{notification.name}}</span>
  </div>
  <div class="col-md-3">
    <span class="small-text">{{notification.dateString}}</span>
  </div>
  <div class="col-md-3">
    <span id="notif-important" *ngIf="notification.important" class="badge badge-danger">Важное</span>
  </div>
  <div class="col-md-12 pt-2" [ngClass]="{notifread: !notification.read}">
    <span id="notif-text">{{notification.textPreview}}</span>
  </div>
</div>

<button *ngIf="viewLimit < notificationsFiltered.length" class="show-more" (click)="appendToView(10)">Показать еще</button>

<div *ngIf="isNotificationsEmpty" class="no-results">
  <span>Отсутствуют уведомления, удовлетворяющие условиям поиска
  </span>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="notif-action-group row">
          <div class="col-12">
            <div class="row">
              <button (click)="markPopupAs(notificationPopup, $event.target.id)" class="notif-action col-12 col-lg-4" id="as-archive-popup">Архивировать</button>
              <button (click)="markPopupAs(notificationPopup, $event.target.id)" class="notif-action col-12 col-lg-4" id="as-read-popup">Отметить как непрочитанное</button>
              <button (click)="markPopupAs(notificationPopup, $event.target.id)" class="notif-action col-12 col-lg-4" id="as-important-popup">Отметить как неважное</button>
            </div>
          </div>
        </div>
        <div class="row py-4 text-center">
          <div class="col-md-3  col-6">
            <span class="small-text">{{notificationPopup.typeRu}}</span>
          </div>
          <div class="col-md-3  col-6">
            <span class="small-text">{{notificationPopup.name}}</span>
          </div>
          <div class="col-md-3  col-6">
            <span class="small-text">{{notificationPopup.dateString}}</span>
          </div>
          <div class="col-md-3  col-6">
          <span *ngIf="notificationPopup.important" class="badge badge-danger">Важное</span>
          </div>
        </div>
        <div class="row py-2">
          <div class="col-md-12">
          <span class="notification-text">{{notificationPopup.text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
