.badge {
  background-color: #ef5954;
  border-radius: .15rem;
  padding: .3rem .6rem;
}

.no-results {
  text-align: center;
  padding: 1rem 1rem;
  margin-bottom: 700px;
}

.notification-text {
  white-space: pre-wrap
}
