<span class="icon" id="show-top-notifs"><span class="badge">{{notificationsIn.length}}</span></span>
<div id="top-notifications" class="top-notif" [style.display]="visibility==true?'block':'none'">
  <span *ngFor="let notification of notificationsView"
          class="border-bottom top-notification notification">
    <span class="quantity py-1">{{notification.dateString}}</span>
    <span (click)="deleteNotification(notification)" class="close"></span>
    <span>{{notification.text}}</span>
  </span>
</div>
