body {
  font-family: Arial, Helvetica, sans-serif;
  color: #282828;
}

.navbar {
  padding: 0;
  z-index: 1000;
}

header, footer {
  width: 100%;
  background-color: #003399;
  height: 60px;
}

.header, .footer {
  height: 60px;
  background-color: #003399;
}

.footer {
  font-size: .8rem;
}

.logo {
  display: block;
  cursor: pointer;
  background-size: 23px;
  background: url(assets/logo.png) 0% 50% no-repeat;
  background-size: contain;
  height: 39px;
  margin: auto;
  padding-left: 35px;
}

.logo-title {
  color: #fff;
  line-height: .9rem;
  font-size: 12px;
  cursor: pointer;
}

.nav-height {
  height: 60px;
}

.small-text{
  font-size: .8em;
  color: #747474;
  font-weight: normal;
}

.dropdown-top {
  width: 94px;
  height: 24px;
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

.notification:hover {
  background-color: #e8ecf4;
}

.notifread{
  font-weight: bold;
}

.notif-checkbox{
  margin-right: 10px;
}

.notif-action-group{
  -webkit-box-shadow: 0px 4px 10px -1px #d9d9d9;
  -moz-box-shadow: 0px 4px 10px -1px #d9d9d9;
  box-shadow: 0px 4px 10px -1px #d9d9d9;
}

.notif-action {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 56px;
  padding: .25rem 1.5rem;
  clear: both;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.notif-action:focus,.notif-action:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
  outline: none;
}

.notif-action:active {
  color: #fff;
  text-decoration: none;
  background-color: #1d5cd7;
  outline: none;
}

.show-more {
  cursor: pointer;
  background-color: #1d5cd7;
  display: block;
  width: 100%;
  height: 56px;
  padding: .25rem 1.5rem;
  clear: both;
  color: #fff;
  white-space: nowrap;
  border: 0;
  margin: 1rem 0px;
}

.show-more:active {
  color: #f8f9fa;
  text-decoration: none;
  background-color: #003399;
  outline: none;
}

.checkbox,
.radio {
  display: none;
}
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom,
.radio-custom {
  position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
  width: 20px;             /* Обязательно задаем ширину */
  height: 20px;            /* Обязательно задаем высоту */
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-right: 5px;
}

.checkbox-custom-black {
  position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
  width: 20px;             /* Обязательно задаем ширину */
  height: 20px;            /* Обязательно задаем высоту */
  border: 2px solid #000;
  border-radius: 2px;
}
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.radio-custom,
.label {
  display: inline-block;
  vertical-align: middle;
}
/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  background: #9caac0;
  border-radius: 1px;
}

.radio-custom,
.radio:checked + .radio-custom::before {
  border-radius: 50%;
}

.dropdown-menu {
  border-radius: 0;
  border: 0;
  box-shadow: 0px 4px 15px -1px #d9d9d9;
}

.span-footer {
  color: #ffeeee85;
}

.span-footer-white {
  color: #fff;
}
